* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
.box {
  width: 100%;
  height: 100%;
  position: relative;
  background: url('../img/cube-bg.jpg') center center;
  background-size: cover;
  perspective: 800px;
}
.box ul {
  transform-style: preserve-3d;
  transform: rotateX(-35deg) rotateY(45deg);
  transform-origin: 2.5rem 2.5rem -2.5rem;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.box ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box ul li img {
  width: 100%;
  height: 100%;
}
.box ul li:nth-child(2) {
  transform: translateY(-100%) rotateX(90deg);
  transform-origin: bottom;
}
.box ul li:nth-child(3) {
  transform: translateY(100%) rotateX(-90deg);
  transform-origin: top;
}
.box ul li:nth-child(4) {
  transform: translateX(-100%) rotateY(-90deg);
  transform-origin: right;
}
.box ul li:nth-child(5) {
  transform: translateX(100%) rotateY(90deg);
  transform-origin: left;
}
.box ul li:nth-child(6) {
  transform: translateZ(-5rem) rotateX(180deg);
}
