<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{name}}</h1>
        <input type="text" v-model='obj.a'>
        <input type="text" v-model='obj.b'>
    </div>
</body>
</html>
<script src="./node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el:'#app',
        data:{
            name:"珠峰",
            obj:{
                a:12,
                b:13
            }
        },
        watch:{
            // obj(newV,oldV){
            //     // 只会在 obj的地址发生改变时 才会触发
            //     // 只是修改obj里边的内容时；不会触发该函数
            //     console.log(arguments)
            // },
            obj:{
                handler(newV,oldV){
                    // 这时的newV 和 oldV 都是新值；VUE没有保留老值
                    console.log(newV.a,oldV.a);
                },
                deep:true
            },
        }
    })
</script>