* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.box {
  margin: 30px auto;
  width: 200px;
  height: 300px;
  background: lightblue;
}
.box img {
  width: 100%;
  height: 100%;
  transition: all 1s;
  transform: translate(30px, 60px);
}
.box:hover img {
  transform: translate(30px, 60px);
}
