<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 小胡子语法  -->
        <!-- 小胡子中只能写 表达式 不能写JS语句 -->
        <!-- {{name=1234}} 展示的是 表达式的返回结果  -->
        <!-- {{[name=12345,age]}} -->
        {{age > 17 ? '成年' : '未成年'}}
        <input type="text" v-model='name'>
        <textarea v-model='age'></textarea>
    </div>
</body>
</html>
<script src="./node/node_modules/vue/dist/vue.js"></script>
<script>
    // v-model 是vue 的一个指令； 
    // v-model='name ' name 是实例中的变量
    // 指令 是 让对应 元素 做某件事情
    let vm = new Vue({
        // el:'#app', //不能使用body 或者 html 作为渲染的模板
        template:'<h1>hello world {{age}}</h1>',
        // 若有template属性； 则会把该属性对应的值作为模板；
        data:{
            // data 中的属性 最终都会挂载到对应的实例上
            name:'hello zhufeng',
            age:10
        }
    }).$mount('#app')
</script>